<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Proyecto Semestral</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../css/Personal.css" rel="stylesheet" />

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      language="javascript"
      type="text/javascript"
      src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"
    ></script>
  </head>

  <body>
    <!-- Menu PC / Desplegable celular  -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <!--head-->
        <a href="../index.html">
          <img
            class="logo-pag"
            src="../img/Pag/Cosas/logo-pagina.png"
            alt="Logo"
          />
        </a>
        <b class="texto-footer">PROYECTO</b>
        <!--head-->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Menudesplegablecelular"
          aria-controls="Menudesplegablecelular"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Menudesplegablecelular">
          <ul class="navbar-nav me-auto mb-5 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="../index.html"
                >Inicio <span class="sr-only"></span
              ></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="Hardware.html">Hardware</a>
            </li>

            <!--<li class="nav-item">
              <a class="nav-link" href="../sub/Software.html">Sofware</a>
            </li>-->

            <li class="nav-item">
              <a class="nav-link" href="Notebooks.html">Notebook</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="Contacto.html">Contacto</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="AcercaDe.html">Acerca De</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h1 class="my-4">Iniciar Sesión</h1>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="well well-sm">
            <form id="iniciosesion" method="POST">
              <fieldset>
                <legend class="text-center header"></legend>

                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                  <div class="col-md-8">
                    <input
                      id="id_user"
                      name="txtusuario"
                      type="text"
                      placeholder="Nombre de usuario o Email"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                  <div class="col-md-8">
                    <input
                      id="id_txtclave"
                      name="txtcontrasena"
                      type="password"
                      placeholder="Contraseña"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="from-check">
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">
                      Iniciar Sesión
                    </button>
                  </div>
                </div>
              </fieldset>

              <div class="form-group">
                <div class="col-md-12 text-center"></div>

                <div class="d-flex justify-content-center links">
                  ¿No tiene una cuenta?
                  <a class="ml-2" href="Registro.html">Regístrate</a>
                </div>
                <div class="d-flex justify-content-center links">
                  <a class="underlineHover" href="#">¿Olvidó su contraseña?</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- separador -->
    <div class="separadorfooter">
      <div class="row"></div>
    </div>
    <!-- separador -->

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark pt-4">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <!-- Content -->
            <h5 class="texto-footer">UBICACION</h5>
            <p class="texto-footer">
              Calle Siempre Viva 1234, Las Condes, Región Metropolitana
            </p>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3" />

          <!-- Grid column -->
          <div class="col-md-4">
            <div class="text-center">
              <!-- Links -->
              <h5 class="text-uppercase texto-footer">Servicios</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="TerminoCondiciones.html">
                    <img src="../img/Pag/Cosas/tyc.png" />Términos y
                    condiciones</a
                  >
                </li>
                <li>
                  <a href="PoliticaPrivacidad.html">
                    <img src="../img/Pag/Cosas/pdp.png" />Políticas de
                    Privacidad</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <!-- Grid column -->
          <hr class="clearfix w-100 d-md-none pb-3" />

          <!-- Grid column -->
          <div class="col-md-3">
            <!-- Links -->
            <div class="text-right">
              <h5 class="text-uppercase texto-footer">Redes Sociales</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="https://www.facebook.com/">
                    <img src="../img/Social/facebook.png" />
                    Facebook</a
                  >
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <img src="../img/Social/twitter.png" />
                    Twitter</a
                  >
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <img src="../img/Social/instagram.png" />
                    Instagram</a
                  >
                </li>
                <li>
                  <a href="https://www.youtube.com/">
                    <img src="../img/Social/youtube.png" />
                    Youtube</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 texto-footer">
        © 2021 Copyright: Grupo 4
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script src="../js/validador.js" type="text/javascript"></script>
    <script src="../js/verPassword.js" type="text/javascript"></script>
    
  </body>
</html>
