<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Proyecto Semestral</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/core/css/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../../static/core/css/css/Personal.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Menu PC / Desplegable celular  -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <!--head-->
        <a href="{% url 'home' %}">
          <img
            class="logo-pag"
            src="../../static/core/img/logo-pagina.png"
            alt="Logo"
          />
        </a>
        <b class="texto-footer">PROYECTO</b>
        <!--head-->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Menudesplegablecelular"
          aria-controls="Menudesplegablecelular"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Menudesplegablecelular">
          <ul class="navbar-nav me-auto mb-5 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'home' %}"
                >Inicio <span class="sr-only"></span
              ></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'hardware' %}">Hardware</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'notebooks' %}">Notebook</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'acercade' %}">Acerca De</a>
            </li>
            <li class="nav-item">
              <a
                class="btn btn-outline-light my-2 my-sm-0"
                href="{% url 'registro' %}"
                style="position: absolute; right: 20px"
                >Regístrate</a
              >
            </li>
            <li class="nav-item">
              <a
                class="btn btn-outline-light my-2 my-sm-0"
                href="{% url 'iniciosesion' %}"
                style="position: absolute; right: 120px"
                >Inicia Sesión</a
              >
            </li>
            <li class="nav-item">
              <a href="{% url 'carrito' %}">
                <img
                  class="logo-pag"
                  src="../../static/core/img/carro_mini.png"
                  alt="Logo"
                  style="position: absolute; right: 250px"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h1 class="my-4">Carrito</h1>
        </div>
      </div>
    </div>
    <!------------------------------>
    <body>
      <div class="container">
          <h1 style="text-align: center !important;">
              Carrito
          </h1>
          {% if form %}
          <form method="POST" action="" enctype="multipart/form-data" id="formulario">
              <div class="form-group">
                  {% csrf_token %} {{ form.as_p }}
              </div>
              <input type="submit" class="btn btn-primary btnwidth" id="id_guardar" value="Guardar">
              <!-- <input type="reset" class="btn btn-primary btnwidth" id="id_nuevo" value="Nuevo"> -->
              <a class="btn btn-success btnwidth" href="{% url 'Producto' 'ins' -1 %}">Nuevo</a>
              {% if id != '-1' %}
              <a class="btn btn-danger btnwidth" href="{% url 'Producto' 'del' id %}">Eliminar</a>
              {% endif %}
              <a class="btn btn-info btnwidth" href="{% url 'home' %}">Inicio</a>
              {% if mesg %}
              <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
              {% endif %}
          </form>
          {% endif %}
          {% if list %}
          <table id="tabla_datos">
              <thead>
                  <tr>
                     
                      <th>Nombre</th>
                      <th>Precio</th>
                      <th>Imagen</th>
                      <th>Categoría</th>
                      <th class="titulo_boton">Editar</th>
                      <th class="titulo_boton">Eliminar</th>
                  </tr>
              </thead>
              <tbody>
                  {% for ve in list %}
                  <tr>
                      <td>{{ ve.nombre }}</td>
                      <td>{{ ve.precio }}</td>
                      
                      <td><img src="/media/{{ ve.imagen }}" class="carro_mini" alt=""></td>
                      <td>{{ ve.categoria }}</td>
                      <td><a href="{% url 'Producto' 'upd' ve.IdProducto %}" 
                          class="btn btn-primary btn-sm boton_chico">Editar</a></td>
                      <td><a href="{% url 'Producto' 'del' ve.IdProducto %}" 
                          class="btn btn-danger btn-sm boton_chico">Eliminar</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
          <br>
          <a href="{% url 'poblar_bd' %}" class="btn btn-info btn-sm">Poblar BD</a>
          <a href="http://127.0.0.1:8000/admin" class="btn btn-info btn-sm">Administración</a>
          <a href="{% url 'home' %}" class="btn btn-inf