{% extends 'core/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'core/css/Personal.css'%}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="quienessomos">
        <div class="col-lg-9">
          <h4>¿Quiénes somos?</h4>
          <br />

          <div class="container pt-3">
            <p class="parrafo">
              PROYECTO es una empresa chilena enfocada a la venta de
              computadores, partes y piezas, componentes. <br />
              <br />
              Nuestra misión es asesorar al cliente en sus necesidades
              brindándole opciones convenientes para cualquier tipo de
              presupuesto ofreciendo siempre los mejores catálogos de productos
              a precios competitivos con el mercado, logrando que el cliente se
              encuentre satisfecho en sus respectivas necesidades tecnológicas y
              con el compromiso de seguir expandiendo constantemente nuestro
              catálogo de productos.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <img
              src="{% static 'core/img/pag/instalaciones/instalacio_empresa.jpg'%}"
              class="img-thumbnail"
            />
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <img
              src="{% static 'core/img/pag/instalaciones/mapa1.jpg'%}"
              class="img-thumbnail"
            />
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <img
              src="{% static 'core/img/pag/instalaciones/instalacio_empresa_2.jpg'%}"
              class="img-thumbnail"
            />
          </div>
        </div>
      </div>
    </div>
    <!--Fin Page Content -->
    {% endblock content %}

