{% extends 'core/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'core/css/Personal.css'%}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h1 class="my-4">Iniciar Sesión</h1>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="well well-sm">
            <form id="iniciosesion" method="POST" enctype="multipart/form-data" action="">
                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                  <div class="col-md-8 text-center">
                    <input
                      id="id_user"
                      name="txtusuario"
                      type="text"
                      placeholder="Nombre de usuario o Email"
                      class="form-control"
                    />
                  </div>
                  <br>
                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                  <div class="col-md-8">
                    <input
                      id="id_txtclave"
                      name="txtcontrasena"
                      type="password"
                      placeholder="Contraseña"
                      class="form-control"
                    />
                  </div>
                  <br>
                  <div class="col-md-8">
                    {% if mesg %}
                    <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
                    {% endif %}
                  </div>
                </div>

                <div class="from-check">
                  <div class="col-md-12 text-center">
                    <input type="submit" class="btn btn-primary" value="Iniciar Sesión">
                  </div>
                </div>
              <div class="form-group">
                <div class="col-md-12 text-center"></div>

                <div class="d-flex justify-content-center links">
                  ¿No tiene una cuenta?
                  <a class="ml-2" href="Registro.html">Regístrate</a>
                </div>
                <div class="d-flex justify-content-center links">
                  <a class="underlineHover" href="#">¿Olvidó su contraseña?</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- separador -->
    <div class="separadorfooter">
      <div class="row"></div>
    </div>
    <!-- separador -->
    {% endblock content %}

