{% extends 'core/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'core/css/Personal.css'%}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!-- Contenido de la pag -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>

        <div class="collapse navbar-collapse">
          <ul id="navbar-departments" class="mr-auto navbar-nav">
            <li class="navbar-nav nav-item">
              <a href="#" class="nav-link nav-link">Tecnología</a>
            </li>
            <li class="navbar-nav nav-item">
              <a href="#" class="nav-link nav-link">Hardware</a>
            </li>
            <li class="navbar-nav nav-item">
              <a href="#" class="nav-link nav-link">Periféricos</a>
            </li>
            <li class="navbar-nav nav-item">
              <a href="#" class="nav-link nav-link">Electro</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <div class="mr-2">
              <form>
                <div class="form-group mb-0">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="searcher"
                      placeholder="Buscar"
                      value=""
                    />
                    <div class="input-group-append">
                      <button class="btn btn-light" type="submit">
                        <i class="fas fa-search">&nbsp; </i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <li class="dropdown nav-item">
              <a
                aria-haspopup="true"
                href="#"
                class="
                  navbar-icon-item navbar-user-link
                  dropdown-toggle
                  nav-link
                "
                aria-expanded="false"
              >
                <i class="fas fa-filter"> &nbsp;</i>
              </a>
              <div
                tabindex="-1"
                role="menu"
                aria-hidden="true"
                class="dropdown-menu"
                x-placement="bottom-start"
                style="
                  position: absolute;
                  will-change: transform;
                  top: 0px;
                  left: 0px;
                  transform: translate3d(0px, 37px, 0px);
                "
                data-placement="bottom-start"
              >
                <button
                  type="button"
                  tabindex="0"
                  role="menuitem"
                  class="dropdown-item"
                >
                  <span>Tiendas&nbsp;</span>
                </button>
                <button tabindex="0" role="menuitem" class="dropdown-item">
                  <div
                    class="custom-switch custom-control custom-control-inline"
                  >
                    <input
                      type="checkbox"
                      id="hideRefurbished"
                      name="hideRefurbishedSwitch"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="hideRefurbished"
                      >Ocultar reacondicionados</label
                    >
                  </div>
                </button>
              </div>
            </li>
            <li class="dropdown nav-item">
              <a
                aria-haspopup="true"
                href="#"
                class="
                  navbar-icon-item navbar-user-link
                  dropdown-toggle
                  nav-link
                "
                aria-expanded="false"
              >
                <i class="fas fa-user">&nbsp;</i>
              </a>
            </li>
            <li class="dropdown nav-item">
              <div
                tabindex="-1"
                role="menu"
                aria-hidden="true"
                class="dropdown-menu"
              >
                <button
                  type="button"
                  tabindex="0"
                  role="menuitem"
                  class="dropdown-item"
                >
                  Chile
                </button>
              </div>
            </li>
          </ul>
        </div>

        <div class="container-fluid" id="navbar-section-categories"></div>

        <div class="container">
          <div class="row">
            <div class="col-12 mt-2">
              <h1>Política de Privacidad</h1>
            </div>

            <!--tabla-->
            <div class="col-lg-3">
              <div class="list-group">
                <a href="#titular" class="list-group-item"
                  >TITULAR Y RESPONSABLE DEL TRATAMIENTO DE LOS DATOS</a
                >
                <a href="#datos" class="list-group-item"
                  >CLASES DE DATOS RECOGIDOS</a
                >
                <a href="#finalidad" class="list-group-item"
                  >FINALIDAD DEL TRATAMIENTO DE LOS DATOS</a
                >
              </div>
            </div>
            <!--tabla-->

            <!--texto-->
            <div class="col-lg-9 col-md-6 mb-4">
              <h4 id="titular">
                TITULAR Y RESPONSABLE DEL TRATAMIENTO DE LOS DATOS
              </h4>
              <p class="parrafo">
                PROYECTO Ltda - Calle Siempre Viva 1234, Las Condes, Región
                Metropolitana, Chile.
              </p>
              <p class="parrafo">
                Correo electrónico de contacto del Titular: PROYECTO@contacto.cl
              </p>

              <h4 id="datos">CLASES DE DATOS RECOGIDOS</h4>
              <p class="parrafo">
                Entre las clases de Datos Personales que recoge esta Aplicación,
                ya sea directamente o a través de terceros, se encuentran:
                nombre; apellido(s); número de teléfono; dirección de correo
                electrónico; Cookies; Datos de uso; país; sexo; fecha de
                nacimiento; ciudad.
              </p>

              <h4 id="finalidad">FINALIDAD DEL TRATAMIENTO DE LOS DATOS</h4>
              <p class="parrafo">
                Los Datos relativos al Usuario son recogidos para permitir al
                Titular prestar su Servicio, cumplir sus obligaciones legales,
                responder a solicitudes de ejecución, proteger sus derechos e
                intereses (o los de sus Usuarios o terceros), detectar cualquier
                actividad maliciosa o fraudulenta, así como para las siguientes
                finalidades: Acceso a las cuentas de servicios de terceros,
                Contactar con el Usuario, Interacción con redes sociales y
                plataformas externas, Estadísticas, Remarketing y behavioral
                targeting y Registro y autenticación.
              </p>
            </div>
            <!--texto-->
            <div class="col-12"></div>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
