{% extends 'core/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'core/css/Personal.css'%}" rel="stylesheet" />
{% endblock %}

{% block content %}


    <!-- Contenido de la pag -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <br><br>
        <!--Imagen-->
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <a href="#"
                  ><img
                    class="card-img-top"
                    src="/media/{{ Producto.imagen }}"
                    alt=""
                /></a>
              </div>
            </div>
            <div class="card col-lg-3">
              <h2>{{ Producto.nomProducto }}</h2>
              <ol></ol>
              <div class="card col-lg-0">
                <p>Precio Oferta Efectivo</p>
                <h2>
                  <img
                  class=""
                  src="{% static 'core/img/efectivo.png'%}"
                  alt=""/>
                  $ {{ Producto.precioProducto }}
                </h2>
              </div>
              <ol></ol>

              <div class="card col-lg-0">
                <p>Otros medios de pagos</p>
                <h2>
                  <img
                  class=""
                  src="{% static 'core/img/credito.png'%}"
                  alt=""/>
                  $ {{ Producto.precioProductoCred }}
                  <!-- <h2>$0</h2> -->
                </h2>
              </div>

              <ol></ol>
              <div class="boton-compra">
                <button type="button" class="btn btn-success">Comprar</button>
              </div>
            </div>
          </div>
        </div>

        <!--ROW-->
      </div>

      <!-- Leyenda-->
      <div class="card">
        <div class="card-body">
<!--          <img
            src="/media/imagenes {{ Producto.imagen }}"
            class="img-responsive"
            style="width: 100%"
          /> -->
          <h4 class="card-title">Características</h4>

          <p>
            Procesador AMD Ryzen 7 4800H (8 núcleos / 16 hilos / 2900 MHz - 4200
            MHz)
          </p>
          <p>RAM 16 GB DDR4 (3200 MHz)</p>
          <p>Pantalla LED 15.6" (1920x1080) / 60 Hz</p>
          <p>Batería 6 celdas (70900 mWh)</p>
          <p>AlmacenamientoSSD 512GB</p>
          <p>Tarjetas de video NVIDIA GeForce RTX 2060 (6 GB)</p>
          <p>AMD Radeon RX Vega 7 (Integrada)</p>
          <p>
            Puertos 1x HDMI 2.0, 1x Mini DisplayPort, 1x RJ45 (10 / 100 / 1000
            Mbps)
          </p>
          <p>
            3x SuperSpeed USB 5Gbps Type-A (USB 3.0 / USB 3.1 Gen 1 / USB 3.2
            Gen 1)
          </p>
          <h4>Secundarias</h4>
          <p>Peso 2370 g.</p>
          <p>Dimensiones 358 x 240 x 23 mm</p>
          <p>Sistema Operativo Microsoft Windows 10 Home</p>
          <p>Unidad óptica: No</p>
          <h4>Otros</h4>
          <p>WiFi Realtek [Wi-Fi 5 (802.11ac)]</p>
          <p>Adaptador de energía 200W.</p>
          <p>Lector de tarjetas</p>
          <p>Lector de tarjetas SD</p>
          <p>Lector de huellas digitales: No</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"
            >&#9733; &#9733; &#9733; &#9733; &#9734;</small
          >
        </div>
      </div>
      <!--Row-->

      <!--Container-->
    </div>
    {% endblock content %}
