{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Proyecto Semestral</title>

    <link rel="shortcut icon" href="{% static 'core/img/pag/cosas/logo-pagina.png'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="{% static 'core/css/Personal.css'%}" rel="stylesheet" />
    
  </head>

  <body>
    <!-- Menu PC / Desplegable celular  -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a href="{% url 'home' %}">
          
          <img
          class="logo-pag"
            src="{% static 'core/img/pag/cosas/logo-pagina.png'%}"
            alt="Logo"
          />
        </a>
        <b class="texto-footer">PROYECTO</b>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Menudesplegablecelular"
          aria-controls="Menudesplegablecelular"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Menudesplegablecelular">
          <ul class="navbar-nav me-auto mb-5 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
                >Inicio <span class="sr-only"></span
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hardware' %}">Hardware</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'notebook' %}">Notebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'acercade' %}">Acerca De</a>
            </li>
            <li class="nav-item">
              <a
                class="btn btn-outline-light my-2 my-sm-0"
                href="{% url 'registro' %}"
                style="position: absolute; right: 20px"
                >Regístrate</a
              >
            </li>
            <li class="nav-item">
              <a
                class="btn btn-outline-light my-2 my-sm-0"
                href="{% url 'iniciosesion' %}"
                style="position: absolute; right: 120px"
                >Inicia Sesión</a
              >
            </li>
            <li class="nav-item">
              <a href="{% url 'carrito' %}">
                <img
                  class="logo-pag"
                  src="{% static 'core/img/pag/Carrito/carro_mini.png'%}"
                  alt="Logo"
                  style="position: absolute; right: 250px"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Contenido de la pag -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <br><br>
        <!--Imagen-->
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <a href="#"
                  ><img
                    class="card-img-top"
                    src="/media/{{ Producto.imagen }}"
                    alt=""
                /></a>
              </div>
            </div>
            <div class="card col-lg-3">
              <h2>{{ Producto.nomProducto }}</h2>
              <ol></ol>
              <div class="card col-lg-0">
                <p>Precio Oferta Efectivo</p>
                <h2>
                  <img
                  class=""
                  src="{% static 'core/img/efectivo.png'%}"
                  alt=""/>
                  $ {{ Producto.precioProducto }}
                </h2>
              </div>
              <ol></ol>

              <div class="card col-lg-0">
                <p>Otros medios de pagos</p>
                <h2>
                  <img
                  class=""
                  src="{% static 'core/img/credito.png'%}"
                  alt=""/>
                  $ {{ Producto.precioProductoCred }}
                  <!-- <h2>$0</h2> -->
                </h2>
              </div>

              <ol></ol>
              <div class="boton-compra">
                <button type="button" class="btn btn-success">Comprar</button>
              </div>
            </div>
          </div>
        </div>

        <!--ROW-->
      </div>

      <!-- Leyenda-->
      <div class="card">
        <div class="card-body">
<!--          <img
            src="/media/imagenes {{ Producto.imagen }}"
            class="img-responsive"
            style="width: 100%"
          /> -->
          <h4 class="card-title">Características</h4>

          <p>
            Procesador AMD Ryzen 7 4800H (8 núcleos / 16 hilos / 2900 MHz - 4200
            MHz)
          </p>
          <p>RAM 16 GB DDR4 (3200 MHz)</p>
          <p>Pantalla LED 15.6" (1920x1080) / 60 Hz</p>
          <p>Batería 6 celdas (70900 mWh)</p>
          <p>AlmacenamientoSSD 512GB</p>
          <p>Tarjetas de video NVIDIA GeForce RTX 2060 (6 GB)</p>
          <p>AMD Radeon RX Vega 7 (Integrada)</p>
          <p>
            Puertos 1x HDMI 2.0, 1x Mini DisplayPort, 1x RJ45 (10 / 100 / 1000
            Mbps)
          </p>
          <p>
            3x SuperSpeed USB 5Gbps Type-A (USB 3.0 / USB 3.1 Gen 1 / USB 3.2
            Gen 1)
          </p>
          <h4>Secundarias</h4>
          <p>Peso 2370 g.</p>
          <p>Dimensiones 358 x 240 x 23 mm</p>
          <p>Sistema Operativo Microsoft Windows 10 Home</p>
          <p>Unidad óptica: No</p>
          <h4>Otros</h4>
          <p>WiFi Realtek [Wi-Fi 5 (802.11ac)]</p>
          <p>Adaptador de energía 200W.</p>
          <p>Lector de tarjetas</p>
          <p>Lector de tarjetas SD</p>
          <p>Lector de huellas digitales: No</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"
            >&#9733; &#9733; &#9733; &#9733; &#9734;</small
          >
        </div>
      </div>
      <!--Row-->

      <!--Container-->
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark pt-4">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <!-- Content -->
            <h5 class="texto-footer">UBICACIÓN</h5>
            <p class="texto-footer">
              Calle Siempre Viva 1234, Las Condes, Región Metropolitana
            </p>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3" />

          <!-- Grid column -->
          <div class="col-md-4">
            <div class="text-center">
              <!-- Links -->
              <h5 class="text-uppercase texto-footer">Servicios</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="{% url 'terminocondiciones' %}">
                    <img src="{% static 'core/img/pag/cosas/tyc.png'%}" />Términos y condiciones</a
                  >
                </li>
                <li>
                  <a href="{% url 'politicaprivacidad' %}">
                    <img src="{% static 'core/img/pag/cosas/pdp.png'%}" />Políticas de
                    Privacidad</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <!-- Grid column -->
          <hr class="clearfix w-100 d-md-none pb-3" />
          <!-- Grid column -->
          <div class="col-md-3">
            <div class="text-right">
              <!-- Links -->
              <h5 class="text-uppercase texto-footer">Redes Sociales</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="https://www.facebook.com/">
                    <img src="{% static 'core/img/social/facebook.png'%}" />
                    Facebook</a
                  >
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <img src="{% static 'core/img/social/twitter.png'%}" />
                    Twitter</a
                  >
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <img src="{% static 'core/img/social/instagram.png'%}" />
                    Instagram</a
                  >
                </li>
                <li>
                  <a href="https://www.youtube.com/">
                    <img src="{% static 'core/img/social/youtube.png'%}" />
                    Youtube</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 texto-footer">
        © 2021 Copyright: Grupo 4
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

<!--Scrips-->
<script
src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"
></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{% static 'core/js/bootstrap.min.js'%}"></script>
</body>
</html>
