{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Proyecto Semestral</title>

    <link rel="shortcut icon" href="{% static 'core/img/pag/cosas/logo-pagina.png'%}">
    <link rel="stylesheet" href="../../static/core/css/bootstrap.min.css"/>
    <link href="../../static/core/css/Personal.css" rel="stylesheet" />
    
  </head>

  <body>
    <!-- Menu PC / Desplegable celular  -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a href="{% url 'home' %}">
          
          <img
          class="logo-pag"
            src="{% static 'core/img/pag/cosas/logo-pagina.png'%}"
            alt="Logo"
          />
        </a>
        <b class="texto-footer">PROYECTO</b>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Menudesplegablecelular"
          aria-controls="Menudesplegablecelular"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Menudesplegablecelular">
          <ul class="navbar-nav me-auto mb-5 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
                >Inicio <span class="sr-only"></span
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hardware' %}">Hardware</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'notebook' %}">Notebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'acercade' %}">Acerca De</a>
            </li>
            <li class="nav-item">
              <a
                class="btn btn-outline-light my-2 my-sm-0"
                href="{% url 'registro' %}"
                style="position: absolute; right: 20px"
                >Regístrate</a
              >
            </li>
            <li class="nav-item">
              <a
                class="btn btn-outline-light my-2 my-sm-0"
                href="{% url 'iniciosesion' %}"
                style="position: absolute; right: 120px"
                >Inicia Sesión</a
              >
            </li>
            <li class="nav-item">
              <a href="{% url 'carrito' %}">
                <img
                  class="logo-pag"
                  src="{% static 'core/img/pag/Carrito/carro_mini.png'%}"
                  alt="Logo"
                  style="position: absolute; right: 250px"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Contenido de la pag -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>

        <div class="collapse navbar-collapse">
          <ul id="navbar-departments" class="mr-auto navbar-nav">
            <li class="navbar-nav nav-item">
              <a href="#" class="nav-link nav-link">Tecnología</a>
            </li>
            <li class="navbar-nav nav-item">
              <a href="#" class="nav-link nav-link">Hardware</a>
            </li>
            <li class="navbar-nav nav-item">
              <a href="#" class="nav-link nav-link">Periféricos</a>
            </li>
            <li class="navbar-nav nav-item">
              <a href="#" class="nav-link nav-link">Electro</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <div class="mr-2">
              <form>
                <div class="form-group mb-0">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="searcher"
                      placeholder="Buscar"
                      value=""
                    />
                    <div class="input-group-append">
                      <button class="btn btn-light" type="submit">
                        <i class="fas fa-search">&nbsp; </i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <li class="dropdown nav-item">
              <a
                aria-haspopup="true"
                href="#"
                class="
                  navbar-icon-item navbar-user-link
                  dropdown-toggle
                  nav-link
                "
                aria-expanded="false"
              >
                <i class="fas fa-filter"> &nbsp;</i>
              </a>
              <div
                tabindex="-1"
                role="menu"
                aria-hidden="true"
                class="dropdown-menu"
                x-placement="bottom-start"
                style="
                  position: absolute;
                  will-change: transform;
                  top: 0px;
                  left: 0px;
                  transform: translate3d(0px, 37px, 0px);
                "
                data-placement="bottom-start"
              >
                <button
                  type="button"
                  tabindex="0"
                  role="menuitem"
                  class="dropdown-item"
                >
                  <span>Tiendas&nbsp;</span>
                </button>
                <button tabindex="0" role="menuitem" class="dropdown-item">
                  <div
                    class="custom-switch custom-control custom-control-inline"
                  >
                    <input
                      type="checkbox"
                      id="hideRefurbished"
                      name="hideRefurbishedSwitch"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="hideRefurbished"
                      >Ocultar reacondicionados</label
                    >
                  </div>
                </button>
              </div>
            </li>
            <li class="dropdown nav-item">
              <a
                aria-haspopup="true"
                href="#"
                class="
                  navbar-icon-item navbar-user-link
                  dropdown-toggle
                  nav-link
                "
                aria-expanded="false"
              >
                <i class="fas fa-user">&nbsp;</i>
              </a>
            </li>
            <li class="dropdown nav-item">
              <div
                tabindex="-1"
                role="menu"
                aria-hidden="true"
                class="dropdown-menu"
              >
                <button
                  type="button"
                  tabindex="0"
                  role="menuitem"
                  class="dropdown-item"
                >
                  Chile
                </button>
              </div>
            </li>
          </ul>
        </div>

        <div class="container-fluid" id="navbar-section-categories"></div>

        <div class="container">
          <div class="row">
            <div class="col-12 mt-2">
              <h1>Términos y Condiciones</h1>
            </div>

            <!--tabla-->
            <div class="col-lg-3">
              <div class="list-group">
                <a href="#clientes" class="list-group-item"
                  >CLIENTES REGISTRADOS</a
                >
                <a href="#productos" class="list-group-item"
                  >PRODUCTOS Y PRECIOS</a
                >
                <a href="#stock" class="list-group-item">STOCK</a>
                <a href="#forma" class="list-group-item">FORMA DE PAGO</a>
                <a href="#compraE" class="list-group-item"
                  >COMPRA ELECTRÓNICA</a
                >
                <a href="#compraP" class="list-group-item">COMPRA A PEDIDO</a>
                <a href="#facturacion" class="list-group-item"
                  >FACTURACIÓN Y ENTREGA</a
                >
                <a href="#despacho" class="list-group-item">DESPACHO</a>
                <a href="#garantias" class="list-group-item">GARANTÍAS</a>
                <a href="#cambios" class="list-group-item"
                  >CAMBIOS Y DEVOLUCIONES</a
                >
              </div>
            </div>
            <!--tabla-->

            <!--texto-->
            <div class="col-lg-9 col-md-6 mb-4">
              <h4 id="cliente">CLIENTES REGISTRADOS</h4>
              <p class="parrafo">
                Los clientes registrados en PROYECTO han ingresado
                voluntariamente sus datos, los cuales se asumen reales y
                actualizados. La validación de esta información es de exclusiva
                responsabilidad del cliente. Un cliente de PROYECTO puede dejar
                de serlo por determinación de PROYECTO y sin requerir una
                expresión de causa. Los distribuidores o clientes de PROYECTO
                aceptan la presente política comercial y de distribución con el
                sólo hecho de comprar y/o recibir una factura o boleta de
                PROYECTO.
              </p>

              <h4 id="productos">PRODUCTOS Y PRECIOS</h4>
              <p class="parrafo">
                PROYECTO cotiza y publica los precios de venta en Pesos chilenos
                (CL$). Los precios publicados son finales, por lo tanto incluyen
                el Impuesto al Valor Agregado (IVA). Se excluyen gastos de
                transporte, los cuales son cotizados aparte del valor del
                producto. Los precios publicados pueden cambiar, sin previo
                aviso. La información entregada por PROYECTO respecto a
                configuraciones de productos o su desempeño funcional es de
                carácter referencial. Es responsabilidad del distribuidor o
                cliente validar las configuraciones de los productos que compra
                y asegurarse que el desempeño funcional de los mismos cumpla con
                los requerimientos específicos de cada caso.
              </p>

              <h4 id="stock">STOCK</h4>
              <p class="parrafo">
                El Stock disponible informado o publicado por PROYECTO es sólo
                referencial y éste puede haber variado al momento de ingresar
                una orden de compra. PROYECTO no garantiza la fecha de entrega
                de los productos ya que depende de la disponibilidad real y de
                procesos logísticos de adquisición o importación, muchos de los
                cuales no están bajo el control directo de PROYECTO.
              </p>

              <h4 id="forma">FORMA DE PAGO</h4>
              <p class="parrafo">
                La forma de pago la define PROYECTO estableciendo el plazo y el
                tipo de documento de pago. Los pagos vía Webpay son procesados
                de forma externa a PROYECTO, de existir retrasos en la
                acreditación de estos por parte de Transbank, PROYECTO puede
                tomar el tiempo que sea necesario a fin de validar que el pago
                se concretó efectivamente. La información de pago declarada por
                el cliente para las órdenes pagadas vía depósitos y/o
                transferencias electrónicas está sujeta a validaciones y puede
                tomar el tiempo que sea necesario a fin de verificar la
                información indicada.
              </p>

              <h4 id="compraE">COMPRA ELECTRÓNICA</h4>
              <p class="parrafo">
                Una compra electrónica (vía web) puede ser realizada por el
                cliente autorizado, el cual ha registrado su clave secreta en
                PROYECTO El usuario es el responsable del uso de esta clave, por
                lo tanto, solamente debe entregársela a aquellas personas
                autorizadas para comprar con su cuenta. La compra electrónica
                sólo permite efectuar compras de productos que se encuentran
                disponibles en stock en PROYECTO. No obstante, el cliente puede
                ingresar al carro de compras productos que no se encuentran en
                stock. Estos quedarán en estado de orden a pedido, razón por la
                cual, posteriormente se responderá al cliente la aceptación o
                rechazo de la orden de compra, precios y plazos de entrega
                estimados.
              </p>

              <h4 id="compraP">COMPRA A PEDIDO</h4>
              <p class="parrafo">
                Una compra a pedido es aquella que incluye productos sin stock
                en PROYECTO. En el caso que estos sean productos especiales o de
                baja rotación, PROYECTO podrá solicitar al cliente el pago o la
                documentación anticipada de la compra en forma parcial o total
              </p>

              <h4 id="facturacion">FACTURACIÓN Y ENTREGA</h4>
              <p class="parrafo">
                PROYECTO, en forma estándar, considera que todas las compras de
                los distribuidores o clientes están afectas a la posibilidad de
                entregas parciales de acuerdo a la disponibilidad de los
                productos. PROYECTO hará el máximo esfuerzo para entregar los
                pedidos en el menor plazo posible y cumplir con los
                requerimientos de los clientes. Sin embargo, PROYECTO no
                garantiza la fecha de entrega de los productos ya que esta
                depende de la disponibilidad real, de la respuesta de los
                fabricantes y de procesos logísticos de adquisición o
                importación, muchos de los cuales no están bajo el control
                directo de PROYECTO. Por la misma razón anterior, PROYECTO no
                acepta estar sometida a penalizaciones o multas de cualquier
                índole por incumplimiento en los plazos de entrega, errores de
                despacho o de productos. En atención a lo anterior, PROYECTO
                Limitada, no pagará suma alguna por atraso en los plazos de
                entrega o por errores en el despacho de productos.
              </p>

              <h4 id="despacho">DESPACHO</h4>
              <p class="parrafo">
                El despacho al domicilio del cliente tiene un costo el cual
                varía de acuerdo a la empresa de despacho seleccionada, la
                ciudad y el servicio entre otros. Asimismo las dimensiones y
                pesos de la orden determinarán el costo final del despacho.
                PROYECTO no asume ninguna responsabilidad si el cálculo del
                costo del despacho varía sin previo aviso. Para las órdenes cuyo
                despacho sea por pagar se excluye cualquier responsabilidad en
                el cálculo del costo del despacho, el cual para todos los
                efectos es sólo referencial.
              </p>

              <h4 id="garantias">GARANTÍAS</h4>
              <p class="parrafo">
                PROYECTO garantiza el funcionamiento de todos los productos
                comercializados por un plazo de 3 meses a partir de la fecha de
                compra. Si el producto presenta alguna falla dentro de los
                primeros 7 (siete) días corridos contados desde la fecha de
                compra, éste podrá ser llevado directamente al lugar de compra,
                junto con la boleta o factura de compra y luego de ser evaluado
                y comprobada la falla, podrá ser reemplazado por uno nuevo
                dependiendo del stock disponible. Pasado este plazo, las
                garantías se deberán hacer efectivas en el servicio técnico
                autorizado de la marca respectiva. En caso de hacer efectiva la
                garantía y se realice la reparación o el reemplazo del producto
                por uno similar o nuevo, se mantendrá el plazo de garantía
                original a partir de la fecha de compra del equipo. En ningún
                otro caso se podrá extender o entender extendido el plazo de
                vigencia de la garantía.
              </p>

              <h4 id="cambios">CAMBIOS Y DEVOLUCIONES</h4>
              <p>
                De acuerdo a la normativa legal vigente el cliente puede
                solicitar la devolución o cambio de un producto, siempre y
                cuando esté presente fallas en su funcionamiento o existan
                errores en la descripción del producto. Es necesario aclarar que
                los cambios o devoluciones no aplican el en caso que el producto
                no sea del gusto del cliente o este no le haya sido compatible.
              </p>

              <p>
                Para aplicar al cambio o devolución de un producto esta debe ser
                solicitada en un plazo anterior a 10 días desde la recepción del
                producto, adicionalmente se deben cumplir las siguientes
                condiciones:
              </p>

              <p>
                El producto NO puede estar abierto <br />
                El producto NO puede presentar uso <br />
                El producto DEBE tener todos sus embalajes originales completos
                en la misma forma en las que fueron entregados, no pueden estar
                los sellos abiertos o rotos <br />
                El producto DEBE incluir todos sus accesorios sin uso <br />
                Para los productos devueltos por garantía, en primera instancia
                se le realizará un informe técnico, en el cual se validará que
                el producto no haya sido mal utilizado y que la falla es
                atribuible al producto, de ser así la garantía podrá aplicarse
                En el caso de que el producto no presente la falla descrita por
                el cliente o en su defecto se compruebe que existió una mala
                manipulación de este, la garantía no aplicará y se podrán cargar
                al cliente los costos respectivos por revisión de servicio
                técnico, almacenaje y/o transporte. Estos costos serán
                informados previamente una vez recepcionado el producto
              </p>
            </div>
            <!--texto-->
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark pt-4">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <!-- Content -->
            <h5 class="texto-footer">UBICACIÓN</h5>
            <p class="texto-footer">
              Calle Siempre Viva 1234, Las Condes, Región Metropolitana
            </p>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3" />

          <!-- Grid column -->
          <div class="col-md-4">
            <div class="text-center">
              <!-- Links -->
              <h5 class="text-uppercase texto-footer">Servicios</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="{% url 'terminocondiciones' %}">
                    <img src="{% static 'core/img/pag/cosas/tyc.png'%}" />Términos y condiciones</a
                  >
                </li>
                <li>
                  <a href="{% url 'politicaprivacidad' %}">
                    <img src="{% static 'core/img/pag/cosas/pdp.png'%}" />Políticas de
                    Privacidad</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <!-- Grid column -->
          <hr class="clearfix w-100 d-md-none pb-3" />
          <!-- Grid column -->
          <div class="col-md-3">
            <div class="text-right">
              <!-- Links -->
              <h5 class="text-uppercase texto-footer">Redes Sociales</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="https://www.facebook.com/">
                    <img src="{% static 'core/img/social/facebook.png'%}" />
                    Facebook</a
                  >
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <img src="{% static 'core/img/social/twitter.png'%}" />
                    Twitter</a
                  >
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <img src="{% static 'core/img/social/instagram.png'%}" />
                    Instagram</a
                  >
                </li>
                <li>
                  <a href="https://www.youtube.com/">
                    <img src="{% static 'core/img/social/youtube.png'%}" />
                    Youtube</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 texto-footer">
        © 2021 Copyright: Grupo 4
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="{% static 'core/js/bootstrap.min.js'%}"></script>
  </body>
</html>
